<div style="display: flex;">
    <div class="card-panel hoverable teal accent-1">
        <table>
            <thead>
            <tr>
                <th>Menu items:</th>
            </tr>
            </thead>

            <tbody>
            {% for m in menu %}
            <tr>
                <td>
                    <a class="waves-effect waves-light btn-flat" href="/add/{{loop.index0}}">{{m[0]}}</a>
                </td>
            </tr>
            {% endfor %}

            <tr>
                <td>
                    <a href="/" class="waves-effect waves-light btn-flat">Go back</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        {% if fields %}
        <div class="row">
            <form class="col s12" action="/add/{{number}}" method="POST">
                {% for field in form %}
                {% if field.label != 'csrf_token' %}
                <div class="row">
                    <div class="input-field col s12">
                        {{ field.label }}
                        {{ field }}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                <input class="waves-effect waves-light btn" type="submit" value="Hire!">
            </form>
        </div>
        {% else %}
        <div class="card-panel pink lighten-4">
            Please, choose the employee type!
        </div>
        {% endif %}
    </div>
</div>

<script src="../static/materialize/js/materialize.min.js" type="text/javascript"></script>
</body>
