<div style="display: flex;">
    <div class="card-panel hoverable menu-container amber accent-1">
        <table>
            <thead>
            <tr>
                <th>Menu items:</th>
            </tr>
            </thead>

            <tbody>
            {% for m in menu %}
            <tr>
                <td>
                    <a href="/add/" class="waves-effect waves-teal btn-flat">{{m[0]}}</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="scrum-container">
        {% if length==0 %}
        <div class="card-panel pink lighten-4">
            There are no employees!
        </div>
        {% else %}

        {% block content %}

        {% for employee in employees%}
        {% include "employee.html" ignore missing%}
        {% else %}
        {% endfor %}

        {% endblock %}

        {% endif %}
    </div>
</div>

<script type="text/javascript" src="../static/materialize/js/materialize.min.js"></script>
</body>
