<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
<h1 align="center">Меню</h1>
<ul>
<li><a href="/group/add">Добавить студента</a></li>
<li><a href="/group/edit">Редактировать информацию о студенте</a></li>
<li><a href="/group/remove">Удалить из списка</a></li>
<li><a href="/group/show">Вывести весь список</a></li>
<li><a href="/group/magic">Выполнить особые действия</a></li>
<li><a href="/group/save">Сохранить список в файл</a></li>
<li><a href="/group/load">Загрузить список из файла</a></li>
</ul>
</body>
</html>