html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.menu-container {
    max-width: 300px;
    height: 100%;
    flex: 1;
}

.scrum-container {
    flex: 3;
    padding: 16px;
}