{% extends 'base.html' %}

  {% block content %}

<h1>Please, enter all data:</h1>
<br>

<form action='/human' method=POST>
<input type=hidden name=id value={{id}}>
<input type=hidden name=type value={{type}}>
Firstname: <input type=text name=firstname value="{{firstname}}"><br>
Lastname: <input type=text name=lastname value="{{lastname}}"><br>
Age: <input type=number name=age value="{{age}}"><br>
Student number: <input type=text name=number_stud value="{{number_stud}}"><br>
<br>
<input type=submit value=" OK"><br>
</form>

  {% endblock %}